<%= form_with model: @article, local: true do |form| %>

  <p>
    <%= form.label :nama %><br>
    <%= form.text_field :nama %>
  </p>

  <p>
    <%= form.label :harga %><br>
    <%= form.text_field :harga %>
  </p>

  <p>
    <%= form.label :satuan %><br>
    <%= form.text_field :satuan %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
