<h1 style="color:red; text-align:center; margin-top:20px;">Daftar Harga Barang</h1>

<div class="container">

<a class="btn btn-primary" href="new" role="button">Tambah</a>

<table class="table table-bordered col-md-6">
  <thead>
    <tr style="text-align:center">
      <th>Barang</th>
      <th>Harga</th>
      <th>Satuan</th>
      <th colspan="3">Aksi</th>
    </tr>
  </thead>


  <%= @articles.each do |article| %>
  <tbody>
    <tr>
      <td><%= article.nama %></td>
      <td><%= article.harga %></td>
      <td><%= article.satuan %></td>
      <td><%= link_to 'show', article_path(article) %> |
      <%= link_to 'Edit', edit_article_path(article) %> |
      <%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>


  <% end %>
</table>
</div>
