<div class="container" style="margin-top:30px;">
  <p>
    <strong>Nama Barang</strong>
    <%= @article.nama %>
  </p>

  <p>
    <strong>Harga Barang</strong>
    <%= @article.harga %>
  </p>

  <p>
    <strong>Satuan</strong>
    Rp.<%= @article.satuan %>
  </p>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Kembali', articles_path %>

</div>
